* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #1e1e1e;
    background-image: url(./src/img/bg.png);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#taskbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
   background: rgba(30, 30, 30, 0.85);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;

    border-top: 1px solid rgba(255, 255, 255, 0.1);
}


.left-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.start-btn {
    font-size: 22px;
    background: #ffffff20;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}


.search-box {
    height: 35px;
    width: 200px;
    padding-left: 10px;

    border: none;
    border-radius: 6px;
    background: #ffffff15;
    color: white;
}

.search-box::placeholder {
    color: #cccccc;
}

.center-icons {
    display: flex;
    gap: 20px;
}

.icon {
    font-size: 22px;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 6px;
    background: #ffffff10;
}


.right-section {
    display: flex;
    gap: 15px;
}

.tray-icon {
    font-size: 20px;
    padding: 6px 10px;
    border-radius: 6px;
    background: #ffffff10;
    cursor: pointer;
}

#startMenu {
    position: fixed;
    bottom: 60px;  
    left: 10px;
    width: 250px;
    height: 320px;

    background: rgba(64, 61, 61, 0.85);
    border-radius: 10px;
    padding: 15px;
    color: white;

    display: none;  
    
}

#startMenu ul {
    list-style: none;
    margin-top: 12px;
}

#startMenu li {
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
}

#startMenu li:hover {
    background: rgba(43, 40, 40, 0.15);
}
#contextMenu {
    position: absolute;
    width: 200px;
    background: rgba(40, 40, 40, 0.95);
    color: white;
    border-radius: 8px;
    padding: 8px 0;
    display: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    
}

#contextMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#contextMenu li {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

#contextMenu li:hover {
    background: rgba(255, 255, 255, 0.15);
}

